<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script lang="javascript" src="https://cdn.sheetjs.com/xlsx-latest/package/dist/xlsx.full.min.js"></script>
    <script src="js/output.js"></script>
    <!--<link rel="stylesheet" href="index.css">-->
    <title>Production Overtime Registration</title>
</head>
<body ng-app="app">
    <div ng-controller="MainCtrl">
        <h3 id="title">Production Overtime Registration</h3>
        <input type="text" name="search" id="search-bar" placeholder="Search..." ng-model="search">

    </div>
</body>
</html>