<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
    <link rel="stylesheet" href="/css/index.css">
    <script src="/js/index.js"></script>
    <title>Production Overtime Registration</title>
</head>
<body onload="logDateTime()">
    <div class="container-fluid">
        <div id="header">
            <div class="d-flex justify-content-between align-content-center">
                <p id="title">Production Data Analytics</p>
                <div class="d-flex gap-5" id="profile">
                    <div class="d-flex gap-3" id="date-time">
                        <p id="date">-</p>
                        <p id="time">-</p>
                    </div>
                    <div id="profile-setting">
                        <img src="/assets/user.svg" alt="user">
                        <img src="/assets/chevron-down.svg" alt="chevron-down">
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-between align-content-between gap-4" id="content">
            <div class="d-flex flex-column gap-3" id="section">
                <div class="d-flex justify-content-between align-items-center" id="navigation">
                    <img src="/assets/search.svg" alt="search" style="padding-top: 2px;">
                    <input type="text" placeholder="Search...">
                    <a href="#" onclick="clearButton()">
                        <img src="/assets/x.svg" alt="x">
                    </a>
                </div>
                <div id="section-1">
                    <div style="height: 100%; overflow-y: auto;">
                        <table class="table" id="staffList">
                            <thead>
                                <tr>
                                    <th scope="col">EMP ID</th>
                                    <th scope="col">NAME</th>
                                    <th scope="col">Dept</th>
                                    <th scope="col">Position</th>
                                    <th scope="col">Section</th>
                                    <th scope="col">Line</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                    <td>null</td>
                                    <td>null</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="section-2">
                    <p id="overtime">Overtime</p>
                    <div style="height: 100%; overflow-y: auto;">
                        <table class="table text-center align-middle" id="staffOvertime">
                            <thead>
                                <tr>
                                    <th scope="col">Weeks</th>
                                    <th scope="col">Mon</th>
                                    <th scope="col">Tue</th>
                                    <th scope="col">Wed</th>
                                    <th scope="col">Thu</th>
                                    <th scope="col">Friday</th>
                                    <th scope="col">Sat</th>
                                    <th scope="col">Sun</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" disabled></td>
                                    <td><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked disabled></td>
                                    <td><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked disabled></td>
                                    <td><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked disabled></td>
                                    <td><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" disabled></td>
                                    <td><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" disabled></td>
                                    <td><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" disabled></td>
                                    <td><input type="button" value="configure" id="configureButton" onclick="configure(this)"></td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" disabled></td>
                                    <td><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked disabled></td>
                                    <td><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked disabled></td>
                                    <td><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked disabled></td>
                                    <td><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" disabled></td>
                                    <td><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" disabled></td>
                                    <td><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" disabled></td>
                                    <td><input type="button" value="configure" id="configureButton" onclick="configure(this)"></td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" disabled></td>
                                    <td><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked disabled></td>
                                    <td><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked disabled></td>
                                    <td><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked disabled></td>
                                    <td><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" disabled></td>
                                    <td><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" disabled></td>
                                    <td><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" disabled></td>
                                    <td><input type="button" value="configure" id="configureButton" onclick="configure(this)"></td>
                                </tr>
                                <tr>
                                    <th scope="row">4</th>
                                    <td><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" disabled></td>
                                    <td><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked disabled></td>
                                    <td><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked disabled></td>
                                    <td><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked disabled></td>
                                    <td><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" disabled></td>
                                    <td><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" disabled></td>
                                    <td><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" disabled></td>
                                    <td><input type="button" value="configure" id="configureButton" onclick="configure(this)"></td>
                                </tr>
                                <tr>
                                    <th scope="row">5</th>
                                    <td><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" disabled></td>
                                    <td><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked disabled></td>
                                    <td><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked disabled></td>
                                    <td><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked disabled></td>
                                    <td><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" disabled></td>
                                    <td><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" disabled></td>
                                    <td><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" disabled></td>
                                    <td><input type="button" value="configure" id="configureButton" onclick="configure(this)"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="d-flex justify-content-end" id="section-3">
                    <button type="button" class="btn btn-outline-success">Update Report</button>
                </div>
            </div>
            <div class="d-flex flex-column" id="aside">
                <div class="d-flex flex-column text-center" id="file-uploader">
                    <p id="upload">Upload</p>
                    <div class="d-flex flex-column justify-content-center text-center" id="drop-area">
                        <img src="/assets/upload-cloud.svg" alt="" style="height: 32px;">
                        <p id="instruction">Drag & Drop file or a <label for="fileInput" style="text-decoration: underline; color: blue;">Browse</label></p>
                        <input type="file" id="fileInput" name="file" style="display:none" onchange="uploadFile()">
                        <p id="description">Supported formates: XLXS, XLS</p>   
                    </div>
                </div>
                <div class="d-flex align-content-start gap-1 flex-wrap" id="register-counter">
                    <div class="d-flex flex-column text-center" id="box-1" onclick="selectBox(this)">
                        <p>Register</p>
                        <p>10</p>
                    </div>
                    <div class="d-flex flex-column text-center" id="box-2" onclick="selectBox(this)">
                        <p>Unregistered</p>
                        <p>5</p>
                    </div>
                    <div class="flex-grow-1" id="box-3">
                        <table class="table" id="list">
                            <thead>
                                <tr>
                                    <th scope="col">EMP ID</th>
                                    <th scope="col">Time</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>M16050</td>
                                    <td>8:30</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        
        <div id="footer"></div>
</body>
</html>